body{
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    height: 94vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 10px;
    border: 2px solid rgb(96, 123, 209);
    border-radius: 10px;

}
p{
    text-align: justify;
    text-indent: 15px;
}